.To-do-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.To-do-list-container {
    width: 500px;
    max-height: calc(100vh - 200px);
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
}

.List-group_container {
    height: 100%;
    overflow-y: scroll;
}

.To-do-list-container > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.list-group-item {
    border: none
}